<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>WELCOME ON MOTOGP API !</h1>

  <p>Let's enjoy !</p>

  <a href="riders">All riders</a> <br>

  <a href="races">All races</a> <br>

  <a href="manufacturers">All manufacturers</a> <br>

  <a href="tracks">All tracks</a> <br>

  <a href="teams">All teams</a> <br>

  <a href="seasons">All seasons</a> <br>

  <script src="./index.js"></script>
</body>
</html>